.header {
  width: 100%;
  padding-top: 34px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Punto de ruptura para 768px (tablet)*/
@media screen and (max-width: 768px) {
  .header {
    padding-top: 24px;
  }
}

/* Punto de ruptura para 544px (móvil grande)*/
@media screen and (max-width: 544px) {
  .header {
    padding-top: 15px;
  }
}
